# See http://help.github.com/ignore-files/ for more about ignoring files.

# Node
/node_modules

# Fichiers images
/images

# Fichier .env -> à préciser à l'évaluateur et lui donner les variables
.env